@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    border: 1px solid black;
    color: white;
    display: grid;
    font-family: "Montserrat", serif;
    font-optical-sizing: small;
    font-style: normal;
    grid-template-columns: 1.1fr 6fr;
    grid-template-rows: 0.1fr  1fr;
}

.container p {
    font-size: 14px;
}

.dashboard {
    background-color: hsl(218, 82%, 62%);
    border: 0;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.dashboard-name {
    font-size: 20px;
}

.dashboard-icon {
    width: 1.8rem;
}

.dashboard div{
    cursor: pointer;
    display: grid;
    grid-template-columns: 2fr 4fr 3fr;
    margin-top: 1rem;
    /* margin-top: 1rem; */
}

.dashboard div img {
    grid-column: 1 / 2;
    margin-left: 1rem;
}

.dashboard div p {
    margin-left: 1rem;
}

#home,
#settings
{
    margin-top: 3rem;
}

.header {
    color: black;
    display: grid;
    grid-template-columns: 3fr 1.8fr;
    grid-template-rows: 1fr 1fr;
    padding-left: 35px;
}

.header-left-top {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.search-bar {
    background-color: hsl(218, 42%, 93%);
    border: 0;
    border-radius: 15px;
    margin-top: 10px;
    width: 34rem;
}

.header-left-bottom {
    display: grid;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    grid-template-columns: 1fr 4fr 6fr;
}

.header-left-bottom > p {
    margin-top: 5px;
}

.morgan {
    font-size: 0.9rem;
    font-weight: 900;
}

.header-right-top {
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-template-columns: 0.6fr 0.6fr 4fr;
    margin-left: 50px;
    margin-top: 10px;
}

.name {
    font-size: 15px;
    margin-top: 5px;
}

.header-right-bottom {
    grid-column: 2 / 3;
    margin-left: 5px;
}

.click {
    background-color: hsl(218, 82%, 62%);
    border: 0;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    height: 1.5rem;
    margin-top: 10px;
    width: 4rem;
}

.two,
.three {
    margin-left: 25px;
}

.main-content {
    background-color: hsl(218, 42%, 93%);
    color: black;
    grid-column: 2 / 3;
}

.project-headings {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    height: 4rem;
    padding-top: 1.5rem;
}

.your-project {
    font-size: 16px;
    margin-left: 1rem;
}

.annouce {
    font-size: 16px;
    margin-left: 15rem;
}

.projects {
    background-color: hsl(218, 42%, 93%);
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 0.8fr;
    margin-bottom: 1.2rem;
}

.project-a, .project-b, .project-c {
    display: grid;
    gap: 15px;
}

.project-a {
    grid-template-rows: repeat(3, 0.5fr);
    margin-left: 1rem;
}

.project-a div,
.project-b div,
.project-c div {
    background-color: white;
    padding: 20px;
}

.project-a h3,
.project-b h3,
.project-c h3 {
    font-size: 16px;
}

.project-b {
    grid-template-rows: repeat(3, 0.5fr);
}

.project-c {
    grid-template-rows: 0.3fr 0.3fr;
    margin-right: 1.2rem;
    padding-top: 0;
}

.profile-icon-big {
    cursor: pointer;
    width: 3rem;
}

.profile-icon-small {
    cursor: pointer;
    width: 2rem;
}

.icon {
    cursor: pointer;
    width: 1.5rem;
}

.super-cool-div {
    border-left: 5px solid hsl(53, 96%, 50%);
    border-radius: 15px;
    grid-row: 1 / 2;
}

.impossible-div {
    border-left: 5px solid hsl(53, 96%, 50%);
    border-radius: 15px;
    grid-row: 2 / 3;
}

.ad-blockers-div {
    border-left: 5px solid hsl(53, 96%, 50%);
    border-radius: 15px;
    grid-row: 3 / 4;
}

.less-cool-div {
    border-left: 5px solid hsl(53, 96%, 50%);
    border-radius: 15px;
    grid-row: 1 / 2;
}

.images-left {
    margin-left: 180px;
    height: 20px;
}

.easy-peasy-div {
    border-left: 5px solid hsl(53, 96%, 50%);
    border-radius: 15px;
    grid-row: 2 / 3;
}

.money-maker-div {
    border-left: 5px solid hsl(53, 96%, 50%);
    border-radius: 15px;
    grid-row: 3 / 4;
}

.announcements-div {
    border-radius: 15px;
    grid-row: 1 / 2;
    padding: 0;
}

.announcements-div div {
    height: 7rem;
    padding-bottom: 0;
    padding-top: 0;
}

/* .trend-header {
    border: 1px solid black;
} */

.announcements-div div > p {
    font-size: 13px;
}

.trending-div {
    border-radius: 15px;
    /* grid-row: 2 / 3; */
}

.trending-div div {
    padding: 0;
}

.profile-line {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.profile-line p {
    font-size: 16px;
    margin-top: 4px;
}

.profile-line p > span{
    font-weight: 560;
}

hr {
    border: -1rem solid grey;
    margin-top: 1.1rem;
}